/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: #717171;
}

/* HEADER */
header {
    height: 60px;
    width: calc(100% - 250px);
    text-align: right;
    background-color: rgba(00, 00, 00, 0.9);
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
}

header button {
    text-transform: uppercase;
    margin: 15px 20px;
    padding: 5px 15px;
    background-color: rgba(00, 00, 00, 0.9);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 12px;
}

/* MAIN */
main {
    display: flex;
    justify-content: flex-end;
}

/* SEZIONE BARRA LATELARE */
.aside {
   background-color: #000;
   width: 250px;
   height: calc(100vh - 80px);
   display: flex;
   flex-direction: column;
   flex-shrink: 2;
   padding: 20px;
   font-weight: bold;
   font-size: 14px;
}

.aside nav ul li {
    list-style-type: none;
    cursor: pointer;
}

.logo img {
    height: 40px;
}

.aside-nav, .playlist {
    margin-top: 20px;
}

.aside-nav ul li {
    margin-top: 12px;
}

.aside-nav ul li img {
    height: 25px;
    vertical-align: middle;
}

.aside-nav ul li span {
    vertical-align: middle;
}

.playlist {
    flex-grow: 1;
    line-height: 35px;
}

.playlist h4 {
    text-transform: uppercase;
    color: #fff;
}

.playlist span i {
    font-size: 35px;
    vertical-align: middle;
    margin-right: 5px;
}

.playlist-nav {
    margin-top: 10px;
    overflow-y: auto;
    height: 150px;
}

.aside-info img {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.aside-info hr {
    border: 0.5px solid #717171;
    background-color: #717171;
    margin: 10px 0;
}

.aside-info .profile {
    background-color: #808080;
    border-radius: 50%;
    padding: 1px;
}

.aside-info .profile-name {
    color: #fff;
}

/* SEZIONE CONTENUTO */
/* NAVIGAZIONE CONTENUTO */
.content {
    height: calc(100vh - 80px);
    width: calc(100% - 250px);
    padding: 80px 30px;
    overflow-y: auto;
}

.content nav {
    text-align: center;
}

.content nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}


/* SEZIONE RECENTLY PLAYED */


/* SEZIONE CREATO PER JOHN DOE */


/* SEZIONE ARTISTI POPOLARI */


/* FOOTER */
footer {
    background-color: #282828;
    height: 80px;
    width: 100%;
}